#error_explanation
.row
  .columns.medium-6
    %ul.accordion{ data: { accordion: true, 'deep-link': 'true', 'deep-link-smudge': 'true', 'allow-all-closed': 'true' } }
      %li.accordion-item{ data: { 'accordion-item': true } }
        %a.accordion-title{ href: '#update_username' }
          %h6 Update Username
        .accordion-content{ data: { 'tab-content': true } }
          = form_with model: current_user, url: update_username_users_path do |f|
            = f.label :username
            = f.text_field :username
            = f.submit 'Change Username', class: 'button success'

      %li.accordion-item{ data: { 'accordion-item': true } }
        %a.accordion-title{ href: '#update_password' }
          %h6 Update Password
        .accordion-content{ data: { 'tab-content': true } }
          = form_with model: current_user, url: registration_path(current_user), :method => :put do |f|
            = f.hidden_field :email, value: current_user.email
            = f.label :current_password
            = f.password_field :current_password
            = f.label :password
            = f.password_field :password
            = f.label :password_confirmation
            = f.password_field :password_confirmation
            = f.submit 'Change Password', class: 'button success'

      %li.accordion-item{ data: { 'accordion-item': true } }
        %a.accordion-title{ href: '#update_email' }
          %h6 Update Email
        .accordion-content{ data: { 'tab-content': true } }
          = form_with model: current_user, url: registration_path(current_user), :method => :put do |f|
            = f.label :email
            = f.email_field :email
            = f.label :current_password
            = f.password_field :current_password
            = f.submit 'Change Email', class: 'button success'

      %li.accordion-item{ data: { 'accordion-item': true } }
        %a.accordion-title{ href: '#update_personal_details' }
          %h6 Update Personal Details
        .accordion-content{ data: { 'tab-content': true } }
          = form_with model: @profile do |f|
            = f.label :first_name
            = f.text_field :first_name
            = f.label :last_name
            = f.text_field :last_name
            = f.label :social_links
            = f.text_area :social_links
            = f.submit 'Save Personal Details', class: 'button success'
