= form_with(model: event, remote: true) do |f|
  - if event.errors.any?
    #error_explanation
      %h2= "#{pluralize(event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - event.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :venue_id
    = f.collection_select :venue_id, Venue.all, :id, :name, id: :event_venue_id
  .row
    = f.label :title
    = f.text_field :title, id: :event_title
  .row
    = f.label :start_time
    .input-group
      = f.datetime_select :start_time, {order: [:day, :month, :year], date_separator: ' / '}, id: :event_start_time, class: 'input-group-field small-2'
  .row
    = f.label :end_time
    .input-group
      = f.datetime_select :end_time, {order: [:day, :month, :year], date_separator: ' / '}, id: :event_end_time, class: 'input-group-field small-2'
  .row
    = f.label :event_leaders
    = f.text_area :event_leaders, id: :event_event_leaders
  .row
    = f.label :published
    = f.check_box :published, id: :event_published
  .row
    = f.label :short_description
    = f.text_area :short_description, id: :event_short_description
  .row
    = f.label :description
    = f.text_area :description, id: :event_description
  .row
    = f.label :attractions
    = f.text_area :attractions, id: :event_attractions
  .row
    = f.label :cost
    = f.number_field :cost, id: :event_cost
  .row
    = f.label :inclusions
    = f.text_area :inclusions, id: :event_inclusions
  .row
    = f.label :exclusions
    = f.text_area :exclusions, id: :event_exclusions
  .row
    = f.label :payment_details
    = f.text_area :payment_details, id: :event_payment_details
  .row
    = f.label :itinerary
    = f.text_area :itinerary, id: :event_itinerary
  .row
    = f.label :assembly_point
    = f.text_field :assembly_point, id: :event_assembly_point
  .row
    = f.label :assembly_time
    .input-group
      = f.datetime_select :assembly_time, {order: [:day, :month, :year], date_separator: ' / '}, id: :event_assembly_time, class: 'input-group-field small-2'
  .row
    = f.label :contact_details
    = f.text_area :contact_details, id: :event_contact_details
  .row
    = f.label :disclaimer
    = f.text_area :disclaimer, id: :event_disclaimer
  - if event.persisted?
    .row
      = f.label :created_at
      .input-group
        = f.datetime_select :created_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :event_created_at, class: 'input-group-field small-2'
    .row
      = f.label :updated_at
      .input-group
        = f.datetime_select :updated_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :event_updated_at, class: 'input-group-field small-2'
  .row
    = f.submit event.new_record? ? 'Create' : 'Update', class: 'button success'
    = link_to 'Back', events_path, class: 'button warning'
