#error_explanation
= nested_form_for venue, remote: true do |f|
  .row
    = f.label :name
    = f.text_field :name, id: :venue_name
  .row
    = f.label :purpose
    = f.select :purpose, options_for_purpose, id: :venue_purpose
  .row
    = f.label :grade
    = f.select :grade, options_for_grade, id: :venue_grade
  .row
    = f.label :region
    = f.select :region, options_for_region, id: :venue_region
  .row
    = f.label :description
    = f.text_area :description, id: :venue_description
  .row
    = f.label :attractions
    = f.text_area :attractions, id: :venue_attractions
    %p.help-text Enter each attraction on new line
  .row
    %fieldset.fieldset
      %legend Route Details
      = f.fields_for :routes
      = f.link_to_add 'Add more Route', :routes, class: 'button'
  .row
    %fieldset.fieldset
      %legend Contact Details
      = f.fields_for :contacts
      = f.link_to_add 'Add more Contact', :contacts, class: 'button'
  - if venue.persisted?
    .row
      = f.label :created_at
      .input-group
        = f.datetime_select :created_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :venue_created_at, class: 'input-group-field small-2'
    .row
      = f.label :updated_at
      .input-group
        = f.datetime_select :updated_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :venue_updated_at, class: 'input-group-field small-2'
  .row
    = f.submit venue.new_record? ? 'Create' : 'Update', class: 'button success'
    = link_to 'Back', venues_path, class: 'button warning'
