= form_with(model: contact, remote: true) do |f|
  - if contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - contact.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :resource_type
    = f.text_field :resource_type, id: :contact_resource_type
  .row
    = f.label :resource_id
    = f.text_field :resource_id, id: :contact_resource_id
  .row
    = f.label :purpose
    = f.text_field :purpose, id: :contact_purpose
  .row
    = f.label :name
    = f.text_field :name, id: :contact_name
  .row
    = f.label :number
    = f.number_field :number, id: :contact_number
  - if contact.persisted?
    .row
      = f.label :created_at
      .input-group
        = f.datetime_select :created_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :contact_created_at, class: 'input-group-field small-2'
    .row
      = f.label :updated_at
      .input-group
        = f.datetime_select :updated_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :contact_updated_at, class: 'input-group-field small-2'
  .row
    = f.submit contact.new_record? ? 'Create' : 'Update', class: 'button success'
    = link_to 'Back', contacts_path, class: 'button warning'
