= form_with(model: route, remote: true) do |f|
  - if route.errors.any?
    #error_explanation
      %h2= "#{pluralize(route.errors.count, "error")} prohibited this route from being saved:"
      %ul
        - route.errors.full_messages.each do |message|
          %li= message
  .row
    = f.label :venue_id
    = f.collection_select :venue_id, Venue.all, :id, :name, id: :route_venue_id
  .row
    = f.label :name
    = f.text_field :name, id: :route_name
  .row
    = f.label :description
    = f.text_area :description, id: :route_description
  .row
    = f.label :distance
    = f.number_field :distance, id: :route_distance
  .row
    = f.label :modes_of_transport
    = f.text_area :modes_of_transport, id: :route_modes_of_transport
  - if route.persisted?
    .row
      = f.label :created_at
      .input-group
        = f.datetime_select :created_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :route_created_at, class: 'input-group-field small-2'
    .row
      = f.label :updated_at
      .input-group
        = f.datetime_select :updated_at, {order: [:day, :month, :year], date_separator: ' / '}, id: :route_updated_at, class: 'input-group-field small-2'
  .row
    = f.submit route.new_record? ? 'Create' : 'Update', class: 'button success'
    = link_to 'Back', routes_path, class: 'button warning'
